a:hover, a:active {
    background-color: green;
}

ol li{
    list-style-type: square;
}
body {
    background-image: url(flower-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    border-left: 2px dashed;
    border-right: 2px dashed;
    border-top: 4px double;
    border-bottom: 4px double;
    padding: 10px;
}